* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 16px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: overlay;
    scroll-behavior: smooth;
}

#main--container {
    background-color: rgb(237, 202, 186);
    /*background-color: teal;*/
    height: 210vh;
    width: 100vw;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*---------------------------------------------------nav--------------------------------------------------*/
#main__nav {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 2rem;
    font-family: 'Fugaz One', cursive;
    width: 100%;

}

.nav {
    /*background-color:  darkblue;*/
    width: 15%;
    display: flex;

}

.nav.left img {
    height: 3.5rem;

}

#nav__header {
    margin: 0 0 0 .3rem;
    font-size: 1.6rem;
    color: rgb(70, 53, 51);
    align-self: flex-end;
    text-shadow: 1px 1px 2.4px #624541;

}

.nav.right {
    /*background-color: red;*/
    display: flex;
    align-items: flex-end;
}

.nav_buttons {
    background-color: #fb7e02;
    outline: none;
    border: none;
    width: 70%;
    color: white;
    border-radius: 8px;
    height: 2.5rem;
    font-weight: 700;
    font-size: 1rem;
}


#myGit {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 2rem;
    position: relative;
    top: 0.4rem;
    align-self: center;
    fill: black;
    transition: all ease-in-out 0.4s;
}

#myGit:hover {
    fill: rgba(253, 127, 0, 0.83);
    transform: rotate(360deg);

}

/*--------------------------------poster-------------------------------------------------------------------------*/
#main--poster {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 91vh;

}

#main--poster img {
    height: 85vh;
    width: 100%;


}

.poster__left {
    height: 100%;
    display: flex;
    align-items: center;
}

#poster__hero {
    height: 40%;
    width: 80%;
    margin: 0 auto 0 auto;

}

#poster__hero_text {
    font-size: 3.5rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    margin: 0;
    color: rgb(82, 55, 55);
}

#poster__hero_desc {
    font-size: 1.5rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 100;
    margin-top: 0;
    color: rgba(92, 62, 62, 0.73);
}


#poster__hero_buttons {
    margin-top: 2.5rem;
    display: flex;
}

.buttons {
    background-color: #fb7e02;
    outline: none;
    border: none;
    width: 30%;
    color: white;
    border-radius: 8px;
    height: 2.5rem;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 2rem;
    transition: all 0.3s;
}

.buttons:hover {
    color: #fb7e02;
    background-color: white;
    outline: black;
    border: 1px solid #fb7e02;
    cursor: pointer;
}

/*------------------------------------------------------Bookspace-----------------------------*/
#main__bookSpace {
    height: 110vh;
    padding: 4rem;
    /*background-color: rgb(232, 193, 168);*/
    background-color: #0e0c0c;
    overflow-x: overlay;
    position: relative;
}

.main__bookSpace_popup {

    height: 23rem;
    width: 20%;
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    left: 35%;
    top: 20%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0.8px #dd0328;
    transition: opacity ease-in-out 5s;
    opacity: 1;
    z-index: 3;

}

.main__bookSpace_popup > p {
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 600;
}

.hidden {
    display: none;
    opacity: 0;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

input {
    width: 70%;
    height: 2rem;
    outline: none;
    border: none;
}

.main__bookSpace_popup input:focus {
    outline: greenyellow;
    border: 1px solid greenyellow;
}

input[type=submit] {
    width: 30%;
    align-self: center;
    margin-left: 2rem;
    height: 17%;
}

#x {
    position: absolute;
    right: 8px;
    top: 8px;
}

#x:hover {
    color: #d22121;
}

#error_text {
    color: red;
}


/*------------------------------------book-grid--------------------------*/
#bookspace_grid {
    display: grid;
    height: 100%;
    width: 200%;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: 1fr;
    gap: 20px;

}

/*----------------------odd-----------------------*/
#bookspace_grid > div:nth-child(odd) {
    background-image: url("./Assets/cover1.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-start;

}

.font_odd__title {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.font_odd__authors {
    font-size: 1rem;
    color: rgba(220, 212, 212, 0.8);
    /*justify-self: flex-end;*/
    margin-top: 0;
    font-weight: lighter;
    font-family: 'Fasthand', cursive;
    padding: 0;
}

.font_odd__pages {
    color: rgb(136, 136, 136);
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.x_books {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #808283;
}

.x_books:hover {
    color: #e61442;
}

/*-------------------even---------------------------*/
#bookspace_grid > div:nth-child(even) {
    background-image: url("./Assets/cover2.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: end;
    /*height:22rem;*/

}

.font_even__title {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
}

.font_even__authors {
    font-size: 1rem;
    color: rgba(220, 212, 212, 0.8);
    /*justify-self: flex-end;*/
    margin-bottom: 1rem;
    font-weight: lighter;
    font-family: 'Fasthand', cursive;
    padding: 0;
}

.font_even__pages {
    color: rgb(132, 132, 132);
    position: absolute;
    top: 10px;
    left: 10px;
}

#bookspace_grid > div:hover {
    box-shadow: 2px 2px 7px 2px #0e5252;
    transform: scale(1.02);
}

/*--------------------------------toggle-read--------------------------------------------------*/
.toggle_read {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 20%;
    color: #fdca3d;
    font-weight: 600;
    align-items: center;
    gap: 1rem;
}

.toggle_container {
    width: 4rem;
    height: 2rem;
    background-color: #eef2f3;
    border-radius: 2rem;
    background-color: rgba(217, 174, 174, 0.97);
    position: relative;
}

.toggler {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #d22121;
    left: 0;
    box-shadow: 0 0 5px 0 #d22121;
    transition: all 0.25s ease-in-out;
}

.toggle_container.toggled {
    background-color: #c0e385;
}

.toggler.toggled {
    background-color: #0e5252;
    box-shadow: 0 0 5px 0 #0e5252;
    right: 0;
    left: 2rem;
}